:root{
    --primary-text-colour:#757575;
    --secondary-text-colour: #212121;
    --button-background-colour:#2196F3 ;
    --secondary-button-colour: #FFFFFF;

}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-colour);
    font-style: normal
}

h1,h2,h3,h4,h5,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}


ul{
list-style: none;
}

a{
    text-decoration: none;
}

/* page-header*/

.site-nav,
.nav-list{
    display: flex;
}

.site-nav li{
    outline: 1px solid red;
    margin-right: 50px;
}

.logo-text{
    color:var(--button-background-colour) ;
}

.logo{
    color: var(--secondary-text-colour);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}
.logo:hover,
.logo:focus{
    cursor: pointer;
    color: var(--button-background-colour);
}

.link-site{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}



nav a.link-site-active {
    font-weight: bold;
    color: var(--button-background-colour);
}

.nav-list{
    margin: 0;
    padding: 0;
}

.link-site:hover,
.link-site:focus{
    color: var(--button-background-colour);
}

.link-contact{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-text-colour);
}

.link-contact:hover,
.link-contact:focus{
    
    color: var(--button-background-colour);
}

.container{
    padding: 0 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid brown;
}


/*Головний блок*/

.main-section{
    height: 600px;
    background-color: #2F303A;
    text-align: center;
}

.main-title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-button-colour);
    margin-bottom: 30px;
}


.button-main{
    margin: 0 auto;
    margin-bottom: 300px;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--button-background-colour);
    cursor: pointer;
    border-radius: 4px ;
    color:var(--secondary-button-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
}

/*Переваги*/

.adventege-section{
    padding-top: 94px;
}

.adventege-text{
    margin-bottom: 118px;

}

.advantage{
    margin-bottom: 10px;
    color: var(--secondary-text-colour);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    
}

.advantage-text{
    margin-bottom: 94px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-colour);
}

/*Чим ми займаємося*/
.work-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: var(--secondary-text-colour);
}

.imeges-work{
    padding-bottom: 94px;
}

/*Наша команда*/
.work-section{
    background-color: #F5F4FA;
}

.team-title{
    padding-top: 94px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: var(--secondary-text-colour);
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-text-colour);
}
.name-work{
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-colour);
}

/*Футер*/

.logo-footer{
    font-family: Raleway, sans-serif;
    color: var(--secondary-button-colour);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

footer{
    background-color: #2F303A;
}

.adress-title{
    font-style: normal;
    font-family: Roboto;
    font-size: 14px;
    line-height:1.7;
    color: var(--secondary-button-colour);

}
.adress-title:hover,
.adress-title:focus{
    color: var(--button-background-colour);
}

.logo-footer:hover,
.logo-footer:focus{
    cursor: pointer;
    color: var(--button-background-colour);
}

.foter-link-contact{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foter-link-contact:hover,
.foter-link-contact:focus{
    color: #2196F3;
}


/* Портфоліо*/

/* buttons*/

.button-portfolio-all,
.button-portfolio-web,
.button-portfolio-object,
.button-portfolio-design,
.button-portfolio-marketing{
    font-family: inherit;
    background-color:#F5F4FA;;
    cursor:pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}

.button-portfolio-all:hover,
.button-portfolio-web:hover,
.button-portfolio-object:hover,
.bcutton-portfolio-design:hover,
.button-portfolio-marketing:hover{
    background-color: var(--button-background-colour);
    color: var(--secondary-button-colour);  
}


.button-portfolio-all:focus,
.button-portfolio-web:focus,
.button-portfolio-object:focus,
.button-portfolio-design:focus,
.button-portfolio-marketing:focus{
    background-color: var(--button-background-colour);
    color: var(--secondary-button-colour);
}

.button-portfolio-all{
    width: 73px;
    height: 38px;
}

.button-portfolio-web{
    width: 125px;
    height: 38px;
}

.button-portfolio-object{
    width: 112px;
    height: 38px;
}

.button-portfolio-design{
    width: 103px;
    height: 38px;
}

.button-portfolio-marketing{
    width: 130px;
    height: 38px;
}

.portfolio-nav{
    display: flex;
}

/* List portfolio*/

.projekt-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-colour);
}

.projekt-type{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}




