:root{
    --primary-text-colour:#757575;
    --secondary-text-colour: #212121;
    --button-background-colour:#2196F3 ;
    --secondary-button-colour: #FFFFFF;

}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-colour);
    font-style: normal
}


ul{
list-style: none;
}

a{
    text-decoration: none;
}

.head-list,
.advantage-list,
.work-list,
.team-list,
.tell-list,
.footer-adress-list,
.portfolio-nav,
.portfolio-example{
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul{
    margin-top: 0;
    margin-bottom: 0;
}

button{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
}

/*Хедер*/



.container{
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;

}

.main-nav{
    display: flex;
}

.head-list,
.tell-list{
    display: flex;
}

.nav-container{
    display: flex;
}

.tell-list{
    margin-left: auto;
}

.head-list{
    margin-left: 94px;
}

.link-site,
.link-site-active,
.link-contact{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-items:not(:last-child){
    margin-right: 50px;
}

.logo-text{
    color:var(--button-background-colour) ;
}

.logo{
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-text-colour);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}
.logo:hover,
.logo:focus{
    cursor: pointer;
    color: var(--button-background-colour);
}

.link-site{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}



nav a.link-site-active {
    font-weight: bold;
    color: var(--button-background-colour);
}

.link-site:hover,
.link-site:focus{
    color: var(--button-background-colour);
}

.link-contact{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-text-colour);
}

.link-contact:hover,
.link-contact:focus{
    
    color: var(--button-background-colour);
}

/*Головний блок*/
.main-container{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-section{
    background-color: #2F303A;
    justify-content: center;
    width: 1600px;
}


.main-title{
    
    max-width: 700px;
    font-family: 'Roboto';
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    
    text-transform: uppercase;
    color: var(--secondary-button-colour);
}

.button-portfolio{
    font-family: inherit;
    background-color: var(--button-colour);
    cursor:pointer;
    border-radius: 5px;
}

.button-main{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    border: none;
    letter-spacing: 0.06em;
    background-color: var(--button-background-colour);
    cursor: pointer;
    border-radius: 5px ;
    color:var(--secondary-button-colour);
}

/*Переваги*/

.advantage{
    
    color: var(--secondary-text-colour);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    
}

.advantage-text{
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-colour);
}

.advantage-items{
    width: 270px;
}

.advantage-list{
    display: flex;
    justify-content:space-between ;
}



/*Чим ми займаємося*/


.work-title{
    text-align: center;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--secondary-text-colour);
}

.work-list{
    display: flex;
    justify-content: space-between;
}


/*Наша команда*/



.work-container{
    background-color:#FFFFFF;
    
}

.team-section{
    background-color: #F5F4FA;
    text-align: center;
    
}

.team-title{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--secondary-text-colour);
}
.name{
   
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-text-colour);
}
.name-work{
    
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-colour);
}

.team-list{
    display: flex;
    justify-content: space-between;
}

/*Футер*/

.logo-footer{
    margin-bottom: 9px;
    display: block;
    font-family: Raleway, sans-serif;
    color: var(--secondary-button-colour);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.adress-footer{
    margin-bottom: 9px;
}

footer{
    background-color: #2F303A;
}

.adress-title{
    font-style: normal;
    font-family: Roboto;
    font-size: 14px;
    line-height:1.7;
    color: var(--secondary-button-colour);

}
.adress-title:hover,
.adress-title:focus{
    color: var(--button-background-colour);
}

.logo-footer:hover,
.logo-footer:focus{
    cursor: pointer;
    color: var(--button-background-colour);
}

.foter-link-contact{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foter-link-contact:hover,
.foter-link-contact:focus{
    color: #2196F3;
}


/* Портфоліо*/
.portfolio-main{
    background-color: #FFFFFF;
}

.portfolio-nav{
    display: flex;
    justify-content: center;
}


.portfolio-list:not(:last-child){
    margin-right: 8px;
}

.button-portfolio{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-portfolio:hover{
    background-color: var(--button-background-colour);
    color: var(--secondary-button-colour);  
}

.button-portfolio:focus{
    background-color: var(--button-background-colour);
    color: var(--secondary-button-colour);
}



.projekt-portfolio{
   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-colour);
}

.projekt-type{
   
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}


/*пробы*/


.portfolio-example{
   
    display: flex;
    flex-wrap: wrap;
}


.portfolio-card{
   
    background-color: #FFFFFF;
}

.portfolio-card:nth-child(3n){
    margin-right: 0;
}